In [1]:
# Bài 1 :Dùng Pandas đọc file.
import pandas as pd
import numpy as np

datasource=pd.read_csv('./weight_height_10000.csv')
datasource

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9991  Female  66.172652  136.777454
9992  Female  67.067155  170.867906
9993  Female  63.867992  128.475319
9994  Female  69.034243  163.852461
9995  Female  61.944246  113.649103

[9996 rows x 3 columns]

In [2]:
# Bài 2: Chuyển chiều cao và cân nặng về khoảng [0, 1]. (1điểm)
# X_scaled = (X - X.min(axis=0)) / (X.max(axis=0) - X.min(axis=0))

hei=np.array(datasource['Height'].values)
wei=np.array(datasource['Weight'].values)

datasource['Height'] = (datasource['Height'] - min(hei)) / (max(hei) - min(hei))
datasource['Weight'] = (datasource['Weight'] - min(wei)) / (max(wei) - min(wei))
datasource

      Gender    Height    Weight
0       Male  0.791728  0.863139
1       Male  0.586958  0.475476
2       Male  0.802364  0.721131
3       Male  0.706182  0.756699
4       Male  0.631424  0.689999
...      ...       ...       ...
9991  Female  0.481473  0.351101
9992  Female  0.517635  0.517161
9993  Female  0.388301  0.310660
9994  Female  0.597160  0.482988
9995  Female  0.310529  0.238439

[9996 rows x 3 columns]

In [3]:
#Bài 3: Chia tập dữ liệu thành 2 phần: 80% cho tập training và 20% cho tập testing

from sklearn.model_selection import train_test_split

datasource.Gender = datasource.Gender.map({'Female':0,'Male':1 })

X=datasource.loc[:, "Height":].to_numpy()
y=datasource['Gender'].to_numpy()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [4]:
# Bài 4: Giải bài toán phân loại bằng thuật toán Logistic regression và thư viện sklearn. (Tập training)
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train,y_train)

from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_train)
print('Confusion matrix:')
print(confusion_matrix(y_train,y_pred))
print('\nScore:')
print(model.score(X_train,y_train))
print('\nslope and intercept\n',model.coef_, model.intercept_)

Confusion matrix:
[[3595  371]
 [ 365 3665]]

Score:
0.9079539769884942

slope and intercept
 [[-0.57434438 21.86717753]] [-9.98916226]

In [5]:
# Bài 5. Giải bài toán phân loại bằng cách xây dựng thuật toán Logistic regression dùng Stochastic Gradient
# descent. (Tập training)

N = X_train.shape[0] # 100
indices = np.random.permutation(N)
X_train = X_train[indices]
y_train = y_train[indices]

intercept = np.ones((X_train.shape[0], 1))
X_b = np.concatenate((intercept, X_train), axis=1)

print('X_b', X_b.shape)
print('y_train', y_train.shape)
print('N', N)

def sigmoid_function(z):
    return 1 / (1 + np.exp(-z))

def loss_function(y_hat, y):
    return (-y*np.log(y_hat) - (1 - y)*np.log(1 - y_hat))

def predict(x, w_init):    
    z = np.dot(x, w_init)
    y_hat = sigmoid_function(z)
    
    return y_hat

X_b (7996, 3)
y_train (7996,)
N 7996

In [6]:
lr = 0.01
num_iter = 100

theta = np.random.rand(3,)

losses = []

y_hats = []
for epoch in range(num_iter):
    for i in range(0, N):
        xi = X_b[i:i+1]
        yi = y_train[i:i+1]
        
        # compute output
        y_hat = predict(xi, theta)
        # compute loss
        loss = loss_function(y_hat, yi)
        # compute mean of gradient
        gradient = np.dot(xi.T, (y_hat - yi))

        # update
        theta = theta - lr*gradient  

    losses.append(loss) 
print(theta)

[-11.37052423  -2.95884691  27.19468955]

In [7]:
#Bài 6. Viết hàm dự đoán giới tính dùng mô hình Logistic regression đã giải bằng Stochastic Gradient descent)
def dudoan(height,weight):
    height=0.393700787*height
    weight=2.20462262*weight
    height=(height - min(hei)) / (max(hei) - min(hei))
    weight=(weight - min(wei)) / (max(wei) - min(wei))
    print(height,weight)
    giatri=(theta[0])+height*(theta[1])+weight*theta[2]
    giatri= sigmoid_function(giatri)
    print(giatri)
    if giatri>=0.5: 
        print('Nam')
    else: 
        print('Nữ')
yourheight=float(input('Nhập chiều cao(cm) '))
yourweight=float(input('Nhập cân nặng(kg) '))
dudoan(yourheight,yourweight)

Nhập chiều cao(cm) 180
Nhập cân nặng(kg) 90
0.6712189022963196 0.6513526620947819
0.987342601922034
Nam

In [8]:
#Bài 7. In ra Confusion matrix với mô hình Logistic regression đã giải bằng Sklearn, với tập testing (1 điểm).

y_pred_test = model.predict(X_test)
confusion_matrix(y_test,y_pred_test)

array([[936,  96],
       [ 85, 883]], dtype=int64)